
.personal-toolbar{
    width: 278px;
    height: 35px;
    background: #000;
    opacity: 0.8;
    position: absolute;
    top: -8px;
    right: 0;
    z-index: 99;    
}

.personal-toolbar ul{
    list-style: none;
    margin: 2px 10px;
}

.personal-toolbar ul li{
    height: 20px;
    margin: 7px !important;    
    float: left !important; 
    border: 0 !important;
    border-right: 1px solid #FFF !important;
    padding: 0 !important;    
}

.personal-toolbar ul li a{
    color: #FFF;
    text-decoration: none;
    padding: 1px 13px 0 25px;
    display: block;
}

.personal-toolbar ul li a:hover{
    text-decoration: underline;
}

.personal-toolbar ul li.add{
    background: url("../images/sistema/add.png") no-repeat;    
}

.personal-toolbar ul li.editar{
    background: url("../images/sistema/edit.png") no-repeat;    
}

.personal-toolbar ul li.excluir{
    background: url("../images/sistema/delete.png") no-repeat;    
}

.pre-edit-personal{
    display: none;
}

#personal-preview{
    margin: 20px 40px;
    position: relative;
    border: 1px solid gray;
    padding: 2px;
    width: 106px;
}

#personal-incluir{
    background: #FFF;
    height: 445px;
}

#personal-incluir #personal-ajax-submit{
    background: #333;
    border-radius: 5px;
    color: #FFF;    
    margin-left: 239px;
    margin-top: 10px;
    padding: 4px;
    width: 105px;
    text-decoration: none;
}

#personal-incluir #personal-ajax-submit:hover{
    background: #CCC;    
    color: #333;
    border: 1px solid #333;
    padding: 3px;
    
}

#personal-editar, #personal-excluir{
    background: #FFF;
    height: 362px;
    width: 375px;
}

#personal-editar ul.editar li, #personal-excluir ul.editar li{
    height: 109px;
    margin: 15px 0;
    padding-bottom: 15px;
    background: #F5F5F5;
}

#personal-excluir ul li img, #personal-editar ul li img{
    float: left;
    margin: 7px;
    border: 1px solid gray;
    padding: 2px;
}

#personal-excluir ul li p, #personal-editar ul li p{
    margin-top: 35px;
}



.show-image-personal{	
    position: absolute;
    display: none;    
    border: 1px solid gray;
    z-index: 9999;
}
