*{margin: 0; padding: 0;}

body{
    background: url("http://static1.grsites.com/images/glossymetal.jpg");    
    text-align: center;
    font: 12px Arial, Verdana, Tahoma;
    color: #777;
    overflow-x: hidden; 
}

a{
    color: #777;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1{}

h2{
    font-size: 20px;
    color: #333;
    border-bottom: 3px solid #333;
    padding: 1px 0;
    margin: 5px 0;
    text-transform: uppercase;
}

h3{
    font-size: 12px;
}

#bg-topo{
    background: url("http://static2.grsites.com/images/fadestrip2.png") repeat-x;    
}

#topo{    
    background: #FFF url("../images/girl.jpg") no-repeat right top;    
    height: 288px;
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

#topo img{
    position: absolute;
    top: 30px;
    left: 195px;
}

#bg-menu{
    background: url("../images/bg-menu.jpg") repeat-x bottom left;
    height: 56px;
}

ul#menu{
    background: url("../images/bg-menu-principal.jpg") repeat-x;
    height: 56px;
    width: 1000px;
    margin: 0 auto;
    list-style: none;
    font: 23px Arial, Verdana, Tahoma;
}

ul#menu li{
    float: left;
    position: relative;
    height: 40px;
}

ul#menu li.menu-left{
    background: url("../images/menu-left.jpg") no-repeat;
    display: block;
    height: 40px;
    width: 18px;
}

ul#menu li.menu-right{
    background: url("../images/menu-right.jpg") no-repeat center right;	
    float: right;
    display: block;
    height: 40px;
    width: 21px;
}

ul#menu li a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 0 20px;
    border-right: 1px solid #FFF;
    margin-top: 6px;    
}

ul#menu li a:hover{
    color: #000;
}

ul#menu li ul{
    list-style: none;
    position: absolute;
    top: 39px;
    left: -1px;
    display: none;
}

ul#menu li ul li{
    float: none;    
    z-index: 99;
    background: #FFA833;
    width: 141px;    
}

ul#menu li ul li a{
    border: 0;
    margin: 0;    
    padding: 6px 0;
    border-top: 1px solid #FFF;
}

ul#menu li:hover ul{
    display: block;
}

#wrap{
    width: 1000px;
    background: #FFF;
    margin: 0 auto;	
    text-align: left;    
}

#banner{
    width: 1000px;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;    
}

.pager{
    position: absolute;
    right: 10px;
    top: 215px;
    z-index: 99;
}

.pager a{	
    background: url("../images/bg-menu-principal.jpg") repeat-x top center;
    border: 1px solid #FFF;
    color: #FFF;
    text-decoration: none;
    padding: 4px 7px;
    font-weight: bold;
    border-radius: 3px;
    margin-right: 4px;
}

.pager a:hover{
    background: #FFF;
    color: #FFA833;
}

.pager a.activeSlide{	
    background: #FFF;
    color: #FFA833;
}

#bloco-destaque{
    float: left;
    width: 570px;
    height: 346px;
    border-bottom: 1px dotted #CCC;
    margin: 0 0 0 9px;
    position: relative;
}

#bloco-destaque .video{
    float: left;    
}

.carrossel{
    float: left;
    margin-left: 15px;
    margin-top: 23px;
    height: 224px !important;    
}

.carrossel ul{
    list-style: none;        
    overflow: hidden;
}
.carrossel ul li{    
    height: 80px;
    width: 240px !important;
}

.carrossel ul li .thumb{
    background: #E4E4E4;
    border: 1px solid #9E9E9E;    
    padding: 1px;
    display: block;
    height: 59px;
    overflow: hidden;
    width: 104px;
    position: relative;    
    float: left;
    margin-right: 5px;
}

.carrossel ul li .thumb img{    
    position: absolute;
    top: -15px;
    
}

.carrossel ul li .descricao{
    float: left;
    width: 120px;
    border-bottom: 1px dotted #CCC;
}

.carrossel ul li .descricao p{
    margin-top: 5px;
    font-size: 11px;    
    height: 41px;   
}

#bloco-destaque .prev{
    position: absolute;
    bottom: 10px;
    right: 40px;
    background: url("../images/seta-cima.png") no-repeat;
    display: block;
    text-indent: -9999px;
    width: 76px;
    height: 25px;
    cursor: pointer;
}

#bloco-destaque .next{
    position: absolute;
    bottom: 10px;
    right: -15px;
    background: url("../images/seta-baixo.png") no-repeat;
    display: block;
    text-indent: -9999px;
    width: 76px;
    height: 25px;
    cursor: pointer;
}
#trainers{
    float: left;
    width: 395px;
    height: 346px;
    border-bottom: 1px dotted #CCC;
    margin: 0 0 0 18px;    
}

#trainers ul{
    list-style: none;
}

#trainers ul li{
    display: block;
    float: left;
    margin: 10px 10px;
}

#conteudo{
    height: 378px;    
    margin-top: 8px;
}

#rodape {
    text-align: left;	
    margin-top: 20px;
    background: url("../images/bg-rodape.jpg") repeat-x scroll left top #F4F4F4;
    border-top: 2px solid #FFA833;
}

#rodape-centro {
    width: 1000px;
    margin: 0 auto;
    padding: 8px 0 24px 0;
    border-bottom: 1px solid #E3E3E3;
    height: 5px;	
	
}
.copy-right {
    width: 1000px;
    margin: 10px auto 0;
    padding-bottom: 20px;
    color: #8C8C8C;
}

.rodape-autor {
    text-align: right;
    float: right;
    color: #8C8C8C;
}

.institucional {    
    margin-right: 20px;
    padding: 5px 20px 4px 0;
    
}

.institucional ul {
    list-style: none;
}

.institucional ul li {
    background: url("../images/bg_line_rodape.gif") no-repeat scroll right center transparent;    
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 15px;
    display: inline;
    margin: 0 10px 0 0;
    padding: 0 14px 0 0;
    
}

.institucional ul li a {
    color: #8C8C8C;
    font-family: Arial,'Trebuchet MS',sans-sarif;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1x 1x 1x 1x #FFFFFF;
}

.institucional ul li a:hover {
    color: #676767;
} 

/*/////CLASSES GEN�RICAS//////*/

.clear{
    clear: both;
}

.border-shadow {
    background: url("../images/bg-shadow.jpg") no-repeat top center;
    height: 32px;
}