*{margin: 0; padding: 0;}

body{
    background: url("../../images/bg-body.jpg");    
    text-align: center;
    font: 12px Arial, Verdana, Tahoma;
    color: #777;
    overflow-x: hidden;  
}

#login{
    background: #FFF;
    border-radius: 5px; 
    width: 220px;
    margin: 200px auto;
    text-align: left;
    padding: 5px;
}

#login legend{
    font-size: 20px;
    color: #FFA54F;    
}

#login span{
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 3px;
}

#login input{
    padding: 3px 2px;
    border: 1px solid #999;     
    margin-left: 3px;
    width: 190px;
}

#login .btn{
    background: #333;
    color: #FFF;
    border-radius: 5px;
    border: 0;
    width: 100px;
    display: block;
    margin: 20px 0 20px 100px;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
}

#login .btn:hover{
    background: #E5E5E5;
    color: #333;
    border: 1px solid #333;
    padding: 2px;
}